@use "../abstracts/colours" as c;

.hidden {
    display: none!important;
}

body {
    background-image: url(../images/tile.png);
    background-size: 40px;
    background-position: 0 7px;
}

#container {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#full-length {
    background-color: c.$red;
}

section {
    width: 100%;
}

.line-spacer {
    border-bottom: 1px solid white;
}

.horizontal-line {
    border-bottom: 1px solid white;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}

#instructions {
    text-align: center;
    margin-bottom: 20px;
    background-color: c.$white;
}

#instructions_text {
    text-align: center;
    background-color: white;
    color: black;
    padding: 15px;
    line-height: 20px;
}

#main_title {
    font-family: 'Silkscreen';
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: white;
    background-color: c.$red;
}

img {
    max-height: 250px;
}

.to-top {
    margin-top: 20px;
    text-align: center;
}

.top-text {
    text-decoration: underline;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    &:hover {
        opacity: 70%;
    }
}

// img:not([alt]) {
//     border: 5px solid green;
// }

@media screen and (min-width: 768px) {
    #main_title {
        font-size: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    #instructions_text {
        text-align: center;
        background-color: white;
        color: black;
        padding: 20px;
        line-height: 25px;
    }
}

@media screen and (min-width: 1200px) {
    #main_title {
        font-size: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}