@use "../abstracts/colours" as c;

.hidden {
    display: none!important;
}

body {
    background-image: url(../images/tile7.svg);
    background-color: #98C860;
    background-size: 140px;
}

body.dark-mode {
    background-image: url(../images/tile8.svg);
    background-color: #7AA04D;
}

#container {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    width: 100%;
}

.line-spacer {
    border-bottom: 1px solid white;
}

.horizontal-line {
    border-bottom: 1px solid white;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}

#instructions {
    text-align: center;
    margin-bottom: 20px;
    // background-image: c.$white-gradient;
    background-color: c.$body-wood;
    border-left: 2px solid c.$dark-wood;
    border-right: 2px solid c.$dark-wood;
    border-bottom: 2px solid c.$dark-wood;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#instructions_text {
    text-align: center;
    // background-image: c.$white-gradient;
    background-color: c.$body-wood;
    color: white;
    padding: 15px;
    line-height: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#instructions.dark-mode, #instructions_text.dark-mode {
    background-color: c.$night-wood;
}

#main_title {
    font-family: 'Silkscreen';
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: white;
    background-image: c.$wood;
    border-left: 2px solid c.$dark-wood;
    border-right: 2px solid c.$dark-wood;
    border-top: 2px solid c.$dark-wood;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

img {
    max-height: 250px;
}

.to-top {
    margin-top: 20px;
    text-align: center;
}

.top-text {
    text-decoration: underline;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    &:hover {
        opacity: 70%;
    }
}

#spinner {
    width: 78px;
}

#spinner-text {
    text-align: center;
    margin-top: 10px;
}

#spinner-con {
    display: flex;
    flex-direction: column;
}

button {
    
}

// img:not([alt]) {
//     border: 5px solid green;
// }

@media screen and (min-width: 768px) {
    #main_title {
        font-size: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    #instructions_text {
        text-align: center;
        padding: 20px;
        line-height: 25px;
    }
}

@media screen and (min-width: 1200px) {
    #main_title {
        font-size: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}