@use "../abstracts/colours" as c;

#main_header {
    grid-column: 2/3;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

#hamburger-menu {
    cursor: pointer;
    max-width: 70%;
}

#hamburger-menu svg {
    align-self: center;
}

#nav-menu {
    display: none;
}

#header_links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    p {
        text-decoration: none;
        transition: all ease-in-out 0.5s;
        &:hover {
            color: c.$blue;
            text-decoration: underline;
        }
    }
}

#header_links li:not(.line-spacer) {
    padding-top: 10px;
    padding-bottom: 10px;
}

header {
    position: relative;
}

#activity-menu {
    display: none;
    position: absolute;
    top: 80%;
    left: 60%;
    z-index: 10;
    background-color: c.$red;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    li {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

#game-info-menu {
    display: none;
    position: absolute;
    top: 80%;
    left: 37.5%;
    z-index: 10;
    background-color: c.$red;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    li {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

#activity-links, #info-links {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    #hamburger-menu {
        display: none!important;
    }

    #header_links {
        flex-direction: row;
        border-bottom: none;
        li {
            padding-right: 0!important;
        }
    }

    .line-spacer {
        border-right: 1px solid white;
        border-bottom: 0;
    }

    #nav-menu {
        display: grid!important;
    }
}