@use "../abstracts/colours" as c;

p, li:not(#usage_tips li, #pokedex_tips li) {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    line-height: 25px;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: c.$white;
}

a:hover {
    color: c.$blue;
    opacity: 70%;
    transition: ease-in-out all 0.5s;
    text-decoration: underline;
}

li {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

li p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

li div {
    display: flex;
    flex-direction: row;
}

hr {
    height: 1px;
    width: 100%;
    color: c.$white;
    margin-bottom: 30px;
}

h2 {
    color: c.$white;
    background-color: c.$red;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: c.$white;
}

@media screen and (min-width: 428px) {
    p, li {
        font-size: 17px;
    }

    #about_title, #about_devs h3 {
        font-size: 27px;
    }
}

@media screen and (min-width: 768px) {
    p, li {
        font-size: 18px;
    }

    #about_title, #about_devs h3 {
        font-size: 30px;
    }
}