@use "../abstracts/colours" as c;

#about_site {
    text-align: center;
    background-color: c.$black;
}

#about_text {
    text-align: left;
}

#about_text p {
    padding-bottom: 20px;
}

#about_title, #about_devs h3 {
    font-family: 'Silkscreen';
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
    background-color: c.$black;
}

.dev_name {
    text-align: center;
    padding-top: 0px!important;
}

.cc_ref {
    text-decoration: underline;
}

#about_devs {
    background-color: c.$black;
}

#lightning_div, #flan_div {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

#lightning_text p, #flan_text p {
    margin-bottom: 30px;
}

#lightning_text {
    padding-left: 20px;
}

#flan_text {
    padding-right: 20px;
}

#pokemon_l, #pokemon_f {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#lightning_team, #flan_team {
    margin-bottom: 30px;
}

#lightning_team p, #flan_team p {
    text-align: center;
    margin-bottom: 30px;
}

.pokemon_member {
    max-height: 10%;
    background-image: url(../images/about/pokeball-full.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.trainer_favs {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 428px) {
    img {
        max-height: 275px;
    }

    .pokemon_member {
        max-height: 100%;
    }
}

@media screen and (min-width: 768px) {
    img {
        max-height: 350px;
    }
}