@use "../abstracts/colours" as c;

#code-con {
    display: flex;
    justify-content: center;
}

#code-text {
    margin-bottom: 5px;
}

#guess-who-area {
    margin-top: 20px;
}

#pokemon-con, #board-con {
    display: flex;
    flex-direction: column;
    p {
        text-align: center;
        margin-bottom: 10px;
    }
}

.board-piece {
    background-color: white;
    width: 20%;
    border: 3px solid c.$dark-wood;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

#gw-board {
    display: flex;
    flex-wrap: wrap;
}

#gw-generate {
    width: 100px;
    align-self: center;
    margin-bottom: 10px;
}

.gw-image {
    margin-top: 5px;
    max-height: 80px!important;
    margin-bottom: 5px;
}

.gw-name {
    margin-bottom: 0!important;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    background-image: c.$wood;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}

.gw-key {
    display: none;
}

#shiny-checkbox-con {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#gw-select {
    align-self: center;
    width: 90%;
}

#select-image {
    margin-top: 20px;
    width: 50%;
    align-self: center;
}

#bingo-con {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .gw-name {
        font-size: 14px;
    }
}