#login-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    label {
        margin-bottom: 5px;
    }
    input {
        margin-bottom: 40px;
    }
}

#login-button {
    width: fit-content;
    justify-self: center;
}