@use "../abstracts/colours" as c;

#tips {
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
    text-shadow: 1px 1px c.$black;
}

#pokedex_tips, #usage_tips {
    text-align: left;
}

#pokedex_tips {
    display: flex;
    flex-direction: column;
}

.tip_text {
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: underline;
}

#tips-info-con {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

#tips_box {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all ease-in-out 0.5s;
    background-color: c.$transparentblack;
}

#tips_click {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

#question_symbol {
    margin-right: 10px;
    border: 1px solid c.$black;
    border-radius: 20px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 10px;
    background-color: c.$white;
}

#usage_tips {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#box_title, #pokedex_title {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}

.pokedex_box {
    border: 1px solid c.$black;
    min-height: 130px;
    width: 20%;
    background-color: c.$white;
    display: flex;
    flex-direction: column;
    position: relative;
}

#pokedex_display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#pokemon_sprites, #alolan_sprites, #galarian_sprites, #hisuian_sprites, #paldean_sprites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.kanto, .johto, .hoenn, .sinnoh, .unova, .kalos, .alola, .galar, .hisui, .paldea, .regionals {
    border: 1px solid c.$black;
    text-align: center;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: c.$white;
}

.pokemon_name {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 4px;
    padding-right: 4px;
    order: 2;
    color: c.$black;
}

.pokedex_number {
    font-size: 16px;
    margin-left: 5px;
    margin-top: 5px;
    color: c.$black;
    line-height: 10px;
}

#regional {
    margin-top: 20px;
    text-align: center;
}

.regional_text {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

#size {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 18px;
    flex-wrap: wrap;
    input {
        margin-left: 10px;
        margin-right: 10px;
    }
}

#download {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#filter {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 18px;
    flex-wrap: wrap;
}

#filter p {
    padding-right: 20px;
    padding-bottom: 5px;
}

#filter p:not(#filter_title) {
    cursor: pointer;
    color: c.$blue;
    text-decoration: underline;
    text-shadow: 1px 1px c.$black;
}

#size p:not(#size_text) {
    cursor: pointer;
    color: c.$blue;
    text-decoration: underline;
    text-shadow: 1px 1px c.$black;
}

.pd-tip {
    list-style: disc;
    color: white;
    margin-bottom: 5px;
    font-size: 16px;
}

#sprite_area {
    overflow: scroll;
    position: sticky;
    height: 650px;
    top: 50px;
    display: none;
}

#filter {
    position: sticky;
    top: -1px;
    background-color: c.$black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mobile_select {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.mobile_image {
    margin-bottom: 20px;
}

#cd_desktop_tablet {
    display: none;
}

@media screen and (min-width: 768px) {

    .kanto, .johto, .hoenn, .sinnoh, .unova, .kalos, .alola, .galar, .hisui, .paldea, .regionals {
        width: 20%;
    }

    .mobile_select {
        display: none;
    }

    #cd_mobile {
        display: none;
    }

    #cd_desktop_tablet {
        display: block;
    }

    #sprite_area {
        display: block;
    }
}