@use "../abstracts/colours" as c;

#ref-con {
    margin-top: 20px;
    padding-top: 10px;
    background-color: c.$body-wood;
    border: 2px solid c.$dark-wood;
    border-radius: 20px;
    margin-bottom: 10px;
}

#ref-list, #pic-list {
    display: flex;
    flex-direction: column;
}

#ref-links, #pic-list, #image-credit-con {
    margin-top: 10px;
}

#image-credit-con {
    padding-top: 10px;
    background-color: c.$body-wood;
    border: 2px solid c.$dark-wood;
    border-radius: 20px;
}

.ref-credit {
    margin-left: 20px;
    list-style-type: disc;
    a {
        text-decoration: underline;
        font-size: 14px!important;
    }

    font-size: 14px!important;
}