@use "../abstracts/colours" as c;

#shiny-bank, #shiny-collection {
    display: flex;
    flex-wrap: wrap;
}

.shiny-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 20%;
    background-image: c.$white-gradient;
    border: 2px solid c.$dark-wood;
    p {
        text-align: center;
        background-image: c.$wood;
        font-size: 12px!important;
        text-align: center;
    }
}

.shiny-amount {
    width: 100%;
}

.button-div {
    display: flex;
    flex-direction: column;
    button {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 9px!important;
    }
}

#bank-title, #collection-title, #active-hunt-title {
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid white;
    background-image: c.$wood;
    padding-top: 10px;
}

#active-hunt-title {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#collection-list, #pokemon-list {
    border: 1px solid white;
    height: 90vh;
    overflow: scroll;
    margin-bottom: 20px;
    background-color: c.$body-wood;
}

.remove-button, .plus-button, .minus-button {
    font-size: 9px!important;
}

.remove-button {
    width: 100%;
}

.count-button-con, .hunt-count-button-con {
    display: flex;
    justify-content: space-between;
    background-image: c.$wood;
}

#shiny-collection {
    .shiny-div {
        width: 33.3%;
        margin-bottom: 10px;
    }
}

.hunt-div {
    width: 33%;
    background-image: c.$white-gradient;
    border: 2px solid c.$dark-wood;
    margin-bottom: 10px;
    p {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }
}

.hunt-remove-button {
    width: 100%;
}

#active-hunt {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#active-hunt-con {
    background-color: c.$body-wood;
    border-radius: 20px;
    border: 2px solid c.$dark-wood;
    margin-bottom: 20px;
    padding: 0;
}

#hunt-indicator {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

#save-collection {
    display: flex;
    justify-content: center;
}

#shiny-credit {
    width: 100%;
    text-align: center;
    color: c.$black;
    margin-bottom: 10px;
    order: 1;
}

#my-collection-title {
    width: 100%;
    text-align: center;
    order: -1;
    color: c.$black;
    margin-top: 10px;
    margin-bottom: 10px;
}

#download-name-con {
    height: 100vh;
    background-color: c.$transparentblack;
    position: fixed;
    top: 0;
    left: 0;
    transition: all ease-in-out 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 20;
}

#collection-name-con {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#collection-name {
    margin-bottom: 20px;
    width: 100%;
}

#collection-name-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shiny-name {
    line-height: 20px;
}

.hunt-name {
    background-image: c.$wood;
}

@media screen and (min-width: 768px) {
    .hunt-div {
        width: 19%;
    }

    #shiny-collection {
        .shiny-div {
            width: 20%;
            margin-bottom: 10px;
        }
    }
}

@media screen and (min-width: 1000px) {
    .button-div {
        flex-direction: row;
        button {
            width: 50%;
        }
    }
}