@use "../abstracts/colours" as c;

#shiny-bank, #shiny-collection {
    display: flex;
    flex-wrap: wrap;
}

.shiny-div {
    width: 20%;
    background-color: white;
    border: 3px solid black;
    p {
        text-align: center;
        background-color: red;
        font-size: 12px;
        text-align: center;
    }
}

.shiny-amount {
    width: 100%;
}

.button-div {
    display: flex;
    button {
        font-size: 9px;
        width: 50%;
    }
}

#bank-title, #collection-title, #active-hunt-title {
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid white;
}

#bank-title, #collection-title {
    padding-top: 10px;
}

#collection-list, #pokemon-list {
    border: 1px solid white;
    height: 90vh;
    overflow: scroll;
    margin-bottom: 20px;
}

.remove-button, .plus-button, .minus-button {
    font-size: 9px;
}

.remove-button {
    width: 100%;
}

.count-button-con, .hunt-count-button-con {
    display: flex;
    justify-content: space-between;
    background-color: c.$red;
}

#shiny-collection {
    .shiny-div {
        border: none;
        margin-bottom: 10px;
    }
}

.hunt-div {
    width: 30%;
    background-color: white;
    border: 3px solid black;
    margin-bottom: 10px;
    p {
        text-align: center;
        background-color: red;
        padding: 10px;
    }
}

.hunt-remove-button {
    width: 100%;
}

#active-hunt {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .hunt-div {
        border: none;
    }
}

#hunt-indicator {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

#save-collection {
    display: flex;
    justify-content: center;
}

#shiny-credit {
    width: 100%;
    text-align: center;
    color: c.$black;
    margin-bottom: 10px;
    order: 1;
}

#my-collection-title {
    width: 100%;
    text-align: center;
    order: -1;
    color: c.$black;
    margin-top: 10px;
    margin-bottom: 10px;
}

#download-name-con {
    height: 100vh;
    background-color: c.$transparentblack;
    position: fixed;
    top: 0;
    left: 0;
    transition: all ease-in-out 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 20;
}

#collection-name-con {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#collection-name {
    margin-bottom: 20px;
    width: 100%;
}

#collection-name-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .hunt-div {
        width: 19%;
    }
}