@use "../abstracts/colours" as c;

#games {
    margin-bottom: 10px;
}

#rbg_chars, #y_chars, #gsc_chars, #c_chars, #rs_chars, #frlg_chars, #e_chars, #dp_chars, #hgss_chars, #pt_chars, #bw_chars, #b2w2_chars, #b2w2c_chars, #xy_chars, #oras_chars, #sm_chars, #usum_chars, #lgpe_chars, #swsh_chars, #bdsp_chars, #sv_chars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid c.$white;
    padding-top: 10px;
    display: none;
    margin-bottom: 20px;
    cursor: pointer;
}

.character_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 5px;
    width: 25%;
    align-items: baseline;
}

.character_name p {
    font-family: Arial, Helvetica, sans-serif;
}

#spoilers {
    color: c.$red;
}

#note {
    margin-bottom: 20px;
    text-align: center;
}

#table {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

#trainer_image {
    height: 300px;
    border: 1px solid c.$white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokemon {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100px;
}

.pokemon_image {
    height: 100px;
    border: 1px solid c.$white;
}

.text {
    height: 30px;
    border: 1px solid c.$white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.text p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
}

#trainer_image img {
    height: 200px;
}

.pokemon_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon_image img {
    height: 90px;
}

.pokemon {
    width: 50%;
    flex-direction: column;
}

#td-redirect {
    text-decoration: underline;
}

.game_title {
    width: 33%;
    margin-bottom: 10px;
}

#td_title {
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid white;
}

#td_credit {
    text-align: center;
}

.game p {
    line-height: 15px;
}

@media screen and (min-width: 428px) {
    .game p {
        line-height: 20px;
    }
}

@media screen and (min-width:768px) {
    .text {
        width: 150px;
    }

    #table {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .pokemon {
        width: auto;
    }

    #trainer_image {
        width: 200px;
    }

    #td_title {
        margin-bottom: 20px;
    }
}