@use "../abstracts/colours" as c;

#line-selection {
    margin-top: 20px;
    height: 500px;
    overflow: scroll;
    display: none;
    flex-direction: column;
}

.pokemon-line {
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    list-style: disc;
    list-style-position: inside;
    &:hover {
        text-decoration: underline;
        opacity: 70%;
    }
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px!important;
    line-height: 15px!important;
}

#display-usage ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    li {
        list-style: disc;
        margin-left: 10%;
        padding: 0;
    }
}

#display-usage-con {
    text-align: center;
    border-top: 3px solid white;
    padding-top: 20px;
}

#usage-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#usage-icon {
    margin-right: 10px;
    width: 60px;
}

#usage-select {
    width: 100%;
}

.usage-trainer-name {
    margin-bottom: 10px;
}

#mobile-select {
    margin-top: 20px;
    margin-bottom: 20px;
}

#line-home {
    display: flex;
    flex-direction: column;
}

#usage-con {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    #line-selection {
        margin-top: 30px;
    }

    #display-usage-con {
        border-left: 3px solid white;
        border-top: none;
        width: 100%;
    }

    .pokemon-line {
        font-size: inherit!important;
        line-height: inherit!important;
    }

    #line-selection {
        display: flex;
    }

    #mobile-select {
        display: none;
    }
    
    #usage-con {
        flex-direction: row;
    }
}