@use "../abstracts/colours" as c;

#line-selection {
    margin-top: 20px;
    height: 500px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.pokemon-line {
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    list-style: disc;
    list-style-position: inside;
    &:hover {
        text-decoration: underline;
        opacity: 70%;
    }
    margin-top: 5px;
    margin-bottom: 5px;
}

#display-usage ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    li {
        list-style: disc;
        margin-left: 10%;
        padding: 0;
    }
}

#display-usage-con {
    text-align: center;
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    #line-selection {
        margin-top: 30px;
    }

    #display-usage-con {
        margin-top: 30px;
    }
}